In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("student_sample_990.csv")
df

,Country,Year,LifeExpectancy,GDPperCapita,Population,SchoolEnrollment,InternetUsers,HealthExpenditure,LiteracyRate,GDPGrowth
0,Pre-demographic dividend,2005,54.365984,808.604476,651320620.0,91.332077,NaN,33.734018,57.676659,6.020936
1,Norway,2012,81.451220,102175.919298,5018573.0,99.630524,94.65000,8970.119141,NaN,2.717959
2,Cote d'Ivoire,1993,52.247000,804.149657,13735951.0,61.472260,NaN,NaN,NaN,-0.192485
3,Iraq,1991,61.338000,22.952133,17767253.0,110.970657,NaN,NaN,NaN,-64.047107
4,Lesotho,2012,48.235000,1217.930712,2034354.0,115.307929,10.00000,126.105041,NaN,6.334084
...,...,...,...,...,...,...,...,...,...,...
1227,Israel,2005,80.151220,21286.838864,6930100.0,95.504532,25.19400,1509.105835,NaN,4.387789
1228,Armenia,1992,67.718537,356.350780,3571861.0,97.804657,NaN,NaN,NaN,-41.800003
1229,Indonesia,2008,68.085000,2124.554839,240157903.0,109.333679,7.91748,59.242737,92.190002,6.013704
1230,New Caledonia,1990,69.526000,14334.680737,176456.0,120.622078,0.00000,NaN,NaN,3.600001
1231,Marshall Islands,2002,63.848000,2566.067088,51425.0,117.119171,2.33544,309.727417,NaN,3.635790

In [ ]:
This explored the wdi_dataset.csv which was personalised to my school ID number.

# Dataset Overview

In [5]:
# Display the number of rows and columns

print ("Shape (rows, columns):", df.shape)

Shape (rows, columns): (1232, 10)

In [ ]:
The datase shows there are 1232 rows and 10 columns in the dataset

In [24]:
#List column names and data types

print("\nColumn names:\n", df.columns.tolist())
print("\nFirst 5 rows:")
df.head()

Column names:
 ['Country', 'Year', 'LifeExpectancy', 'GDPperCapita', 'Population', 'SchoolEnrollment', 'InternetUsers', 'HealthExpenditure', 'LiteracyRate', 'GDPGrowth']

First 5 rows:

,Country,Year,LifeExpectancy,GDPperCapita,Population,SchoolEnrollment,InternetUsers,HealthExpenditure,LiteracyRate,GDPGrowth
0,Pre-demographic dividend,2005,54.365984,808.604476,651320620.0,91.332077,NaN,33.734018,57.676659,6.020936
1,Norway,2012,81.451220,102175.919298,5018573.0,99.630524,94.65,8970.119141,NaN,2.717959
2,Cote d'Ivoire,1993,52.247000,804.149657,13735951.0,61.472260,NaN,NaN,NaN,-0.192485
3,Iraq,1991,61.338000,22.952133,17767253.0,110.970657,NaN,NaN,NaN,-64.047107
4,Lesotho,2012,48.235000,1217.930712,2034354.0,115.307929,10.00,126.105041,NaN,6.334084

In [ ]:
# Show the range of years and number of unique countries

In [ ]:
# Accessing the columns to know the highest and lowest(range of) years

In [25]:
df[['Year', 'Country']].head()

   Year                   Country
0  2005  Pre-demographic dividend
1  2012                    Norway
2  1993             Cote d'Ivoire
3  1991                      Iraq
4  2012                   Lesotho

In [26]:
df[['Year', 'Country']].tail()

      Year           Country
1227  2005            Israel
1228  1992           Armenia
1229  2008         Indonesia
1230  1990     New Caledonia
1231  2002  Marshall Islands

In [ ]:
# Show the range of years and number of unique countries

In [80]:
print("\nEarliest recorded observation:", df['Year'].min())
print("Latest recorded observation:", df['Year'].max())

# Number of unique countries
num_unique = df["Country"].nunique()
print("\nNumber of unique countries:", num_unique)

Earliest recorded observation: 1990
Latest recorded observation: 2020

Number of unique countries: 263

In [ ]:
The dataset shows that the range of years is between 1990 and 2020, and the number of unique countries are 263

# TASK 2 – Filtering Data

In [6]:
import numpy as np

In [ ]:
# 	Filter data for years ≥ 2000 and count rows

In [7]:
# Filter rows where Year >= 2000
filtered_df = df[df["Year"] >= 2000]

# Count rows after filtering
row_count = len(filtered_df)

print("Filtered DataFrame:\n", filtered_df)
print("\nNumber of rows with Year >= 2000:", row_count)

Filtered DataFrame:
                        Country  Year  LifeExpectancy   GDPperCapita  \
0     Pre-demographic dividend  2005       54.365984     808.604476
1                       Norway  2012       81.451220  102175.919298
4                      Lesotho  2012       48.235000    1217.930712
6               United Kingdom  2020       80.331756   40404.806224
8                      Finland  2020       81.931707   48828.684686
...                        ...   ...             ...            ...
1225        Iran, Islamic Rep.  2007       73.299000    4687.991663
1226                   Ecuador  2005       73.909000    2909.026060
1227                    Israel  2005       80.151220   21286.838864
1229                 Indonesia  2008       68.085000    2124.554839
1231          Marshall Islands  2002       63.848000    2566.067088

       Population  SchoolEnrollment  InternetUsers  HealthExpenditure  \
0     651320620.0         91.332077            NaN          33.734018
1       5018573.0         99.630524       94.65000        8970.119141
4       2034354.0        115.307929       10.00000         126.105041
6      66744000.0        102.223953       94.81820        4816.152832
8       5529543.0         99.817581       92.17030        4736.214355
...           ...               ...            ...                ...
1225   74602648.0         99.747658        9.47000         237.510422
1226   13846163.0        107.851250        5.99426         167.791443
1227    6930100.0         95.504532       25.19400        1509.105835
1229  240157903.0        109.333679        7.91748          59.242737
1231      51425.0        117.119171        2.33544         309.727417

      LiteracyRate  GDPGrowth
0        57.676659   6.020936
1              NaN   2.717959
4              NaN   6.334084
6              NaN -10.296919
8              NaN  -2.491036
...            ...        ...
1225           NaN   8.155774
1226           NaN   5.398622
1227           NaN   4.387789
1229     92.190002   6.013704
1231           NaN   3.635790

[842 rows x 10 columns]

Number of rows with Year >= 2000: 842

In [ ]:
# This shows that Norway, Lesotho, United kingdom and Finland had years >= 2000.

In [ ]:
# Finland recorded the highest lifeexpectancy in 2020 which was 81.9 years while the least was Lesotho which was 48.2 years.

In [ ]:
# Find observations where LifeExpectancy > 75 and GDPperCapita > 30,000

In [8]:
filtered_df = df[(df["LifeExpectancy"] > 75) & (df["GDPperCapita"] > 30000)]

# Count how many rows satisfy the condition
row_count = len(filtered_df)
print("\nNumber of observations:", row_count)

Number of observations: 145

In [ ]:
# the number of observations where LifeExpectancy >  75 and GDPperCapita > 30,000 is 145

In [9]:
# Select only the 'Country' column and list the first 10
first_10_countries = filtered_df["Country"].head(10)
print("First 10 countries meeting the conditions:\n", first_10_countries)

First 10 countries meeting the conditions:
 1               Norway
6       United Kingdom
8              Finland
28             Denmark
29    Macao SAR, China
48             Ireland
50         Isle of Man
58              Norway
59       United States
61             Austria
Name: Country, dtype: object

In [ ]:
This shows that Norway is the first country to meet the LifesExpectancy of > 75 and GDPperCapita > 30,000 while the least is Austria

# TASK 3 – Grouping and Aggregation

In [ ]:
# Compute average life expectancy and average GDP per capita by country

In [10]:
avg_stats = df.groupby("Country")[["LifeExpectancy", "GDPperCapita"]].mean()

print("Average Life Expectancy and GDP per Capita by Country:\n")
print(avg_stats)

Average Life Expectancy and GDP per Capita by Country:

                             LifeExpectancy  GDPperCapita
Country
Afghanistan                       58.498667    437.555222
Africa Eastern and Southern       54.940764   1127.963146
Africa Western and Central        54.029640   1533.545208
Albania                           76.322143   2783.559344
Algeria                           72.784667   3808.782789
...                                     ...           ...
West Bank and Gaza                70.489750   2519.251396
World                             71.624218  10091.537175
Yemen, Rep.                       65.305400   1217.152956
Zambia                            55.533000   1191.153966
Zimbabwe                          50.311286    723.945063

[263 rows x 2 columns]

In [ ]:
This shows that Zimbabwe had the least mean in Life Expectancy of 50.3 years while Afghanistan had the least GPD[erCapita (437.555222)

In [ ]:
and Albania reported the highest mean of 76.3 years in Lifeexpectancy while Algeria had the highset mean GDPperCapita of 437.5552229, respectively.

In [ ]:
# Display the top 5 countries for each measure

In [11]:
# Top 5 countries by Life expectancy
top5_life = df.sort_values(by="LifeExpectancy", ascending=False).head(5)

# Top 5 countries by GDP per Capita
top5_gdp = df.sort_values(by="GDPperCapita", ascending=False).head(5)

print("Top 5 countries by Life Expectancy:\n", top5_life[["Country", "LifeExpectancy"]])
print("\nTop 5 countries by GDP per Capita:\n", top5_gdp[["Country", "GDPperCapita"]])

Top 5 countries by Life Expectancy:
       Country  LifeExpectancy
650    Monaco          85.093
193    Monaco          85.056
1172  Andorra          84.489
207   Andorra          84.197
1012  Andorra          84.098

Top 5 countries by GDP per Capita:
            Country   GDPperCapita
650         Monaco  195693.570739
193         Monaco  184940.663805
166  Liechtenstein  165375.491396
407     Luxembourg  120422.137934
374     Luxembourg  112584.676271

In [ ]:
This table shows that Monaco has the highest number of life expectancy of 85.0 years while Andorra has the least in this category been 84.0 years

In [ ]:
# Compute the average GDP growth rate per decade (1990s, 2000s, 2010s)

In [15]:
# Create a 'Decade' column (e.g., 1990s, 2000s)
df["Decade"] = (df["Year"] // 10) * 10

# Compute average GDP growth rate per decade
avg_growth_per_decade = df.groupby(["Country", "Decade"])["GDPGrowth"].mean().reset_index()

print("Average GDP Growth Rate per Decade:\n")
print(avg_growth_per_decade)

Average GDP Growth Rate per Decade:

                         Country  Decade  GDPGrowth
0                    Afghanistan    1990        NaN
1                    Afghanistan    2000   8.832278
2                    Afghanistan    2010   7.000012
3    Africa Eastern and Southern    1990   2.369266
4    Africa Eastern and Southern    2000   6.162493
..                           ...     ...        ...
665                       Zambia    1990   6.218546
666                       Zambia    2010   5.815937
667                     Zimbabwe    1990   1.051459
668                     Zimbabwe    2000  -7.146212
669                     Zimbabwe    2010   9.327457

[670 rows x 3 columns]

In [ ]:
The table shows that the 1990s recorded the highest average of GDP growth rate which was 3.1800 while the 2000s recorded the least.

# TASK 4 – Sorting and Extremes

In [ ]:
# Find the observation with the highest life expectancy and lowest GDP per capita

In [21]:
data = {
    "Country": ["USA", "Canada", "Mexico", "Brazil", "France", "Germany", "Japan"],
    "LifeExpectancy": [78, 82, 74, 72, 81, 80, 84],
    "GDPperCapita": [65000, 45000, 15000, 12000, 42000, 48000, 40000]
}
df = pd.DataFrame(data)

# Find observation with highest life expectancy
highest_life = df.loc[df["LifeExpectancy"].idxmax()]

# Find observation with lowest GDP per capita
lowest_gdp = df.loc[df["GDPperCapita"].idxmin()]

print("Observation with highest life expectancy:\n", highest_life)
print("\nObservation with lowest GDP per capita:\n", lowest_gdp)

Observation with highest life expectancy:
 LifeExpectancy       84
GDPperCapita      40000
Name: 6, dtype: int64

Observation with lowest GDP per capita:
 LifeExpectancy       72
GDPperCapita      12000
Name: 3, dtype: int64

In [ ]:
The result shows Japan has the highest life expectancy of 84 years and  and Brazil observed the lowest GDP of 12000 GDPperCapita

In [18]:
# Display the top 10 records by life expectancy

In [19]:
# Sort by Life Expectancy (descending) and select top 10
top10_life = df.sort_values(by="LifeExpectancy", ascending=False).head(10)

print("Top 10 records by Life Expectancy:\n")
print(top10_life)

Top 10 records by Life Expectancy:

                   Country  Year  LifeExpectancy   GDPperCapita   Population  \
650                 Monaco  2014       85.093000  195693.570739      36128.0
193                 Monaco  2013       85.056000  184940.663805      35447.0
1172               Andorra  2016       84.489000   40129.819201      72181.0
207                Andorra  2010       84.197000   42746.830953      80706.0
1012               Andorra  2019       84.098000   41257.804585      76474.0
1194                 Japan  2016       83.984878   39375.473162  127076000.0
1058      Macao SAR, China  2019       83.929268   81967.699173     672000.0
1122             Singapore  2020       83.543902   61410.079263    5685807.0
66    Hong Kong SAR, China  2012       83.450244   36730.796196    7150100.0
399              Gibraltar  2018       83.028000            NaN      34854.0

      SchoolEnrollment  InternetUsers  HealthExpenditure  LiteracyRate  \
650                NaN        92.4000        8678.043945           NaN
193                NaN        90.7000        8455.655273           NaN
1172         91.041577        89.7000        2769.152832           NaN
207          84.944557        81.0000        3277.785156           NaN
1012         90.323929        90.7187        3021.432617           NaN
1194        102.216911        93.1827        4194.228027           NaN
1058         96.242604        86.4679                NaN           NaN
1122        100.535909        92.0043        3492.359863     97.129997
66          107.340573        72.9000                NaN           NaN
399                NaN            NaN                NaN           NaN

      GDPGrowth  Decade
650    7.187028    2010
193    9.577098    2010
1172   3.709678    2010
207   -1.974958    2010
1012   2.015548    2010
1194   0.753827    2010
1058  -2.563415    2010
1122  -3.814709    2020
66     1.700294    2010
399         NaN    2010

In [ ]:
The observation shows that Monach recorded the highest life expectancy of 85.1 while Gibraltar recorded the least in this category.

# TASK 5 – Counting and Distributions

In [ ]:
# Count how many observations exist per year and decade

In [125]:
# Create a decade column (e.g., 1991 → 1990s, 2005 → 2000s)
df["Decade"] = (df["Year"] // 10) * 10

In [126]:
# Compute number of unique countries per decade
unique_countries_per_decade = df.groupby("Decade")["Country"].nunique()

print("Number of unique countries per decade:\n")
print(unique_countries_per_decade)

Number of unique countries per decade:

Decade
1990    3
2000    3
2010    5
Name: Country, dtype: int64

In [ ]:
Only 1 observation was recorded per year while 3 was recorded in the 1990s and 2000s while the 2010 recorded the highest been 5.

# TASK 6 – Creating New Columns

In [ ]:
# Create: PopulationMillions = Population / 1_000_000

In [24]:
#Accessing the columns: country and population
print(df['Country'])
print(df[['Country', 'Population']])

0       USA
1    Canada
2    Mexico
3    Brazil
4    France
Name: Country, dtype: object
  Country  Population
0     USA   331000000
1  Canada    38000000
2  Mexico   126000000
3  Brazil   213000000
4  France    67000000

In [23]:
# Sample DataFrame
data = {
    "Country": ["USA", "Canada", "Mexico", "Brazil", "France"],
    "Population": [331000000, 38000000, 126000000, 213000000, 67000000]
}
df = pd.DataFrame(data)

# Create new column: PopulationMillions
df["PopulationMillions"] = df["Population"] / 1_000_000

print("DataFrame with Population in Millions:\n")
print(df)

DataFrame with Population in Millions:

  Country  Population  PopulationMillions
0     USA   331000000               331.0
1  Canada    38000000                38.0
2  Mexico   126000000               126.0
3  Brazil   213000000               213.0
4  France    67000000                67.0

In [ ]:
In this category, USA recorded the highest population of 331 million while France recorded the least population of 67 million

In [ ]:
# GDPCategory = "Low" / "Medium" / "High" based on:
○	Low: below median GDP
○	Medium: between median and 75th percentile
○	High: above 75th percentile

In [132]:
# Sample DataFrame
data = {
    "Country": ["USA", "Canada", "Mexico", "Brazil", "France", "Germany", "Japan", "UK", "Italy", "Spain", "Australia", "Norway"],
    "GDPperCapita": [65000, 45000, 15000, 12000, 42000, 48000, 40000, 41000, 35000, 33000, 52000, 60000]
}
df = pd.DataFrame(data)

In [133]:
# Compute median and 75th percentile
median_gdp = df["GDPperCapita"].median()
percentile_75 = df["GDPperCapita"].quantile(0.75)

In [134]:
# Create GDPCategory column
def categorize_gdp(value):
    if value < median_gdp:
        return "Low"
    elif median_gdp <= value <= percentile_75:
        return "Medium"
    else:
        return "High"

In [136]:
df["GDPCategory"] = df["GDPperCapita"].apply(categorize_gdp)

# Count how many rows fall into each category
category_counts = df["GDPCategory"].value_counts()

print("Number of rows per GDP category:\n")
print(category_counts)

Number of rows per GDP category:

GDPCategory
Low       6
High      3
Medium    3
Name: count, dtype: int64

In [ ]:
Only three countries falls within the High and Medium categories respectively, while 6 falls within the Low category

# TASK 7 – Missing Data Analysis

In [ ]:
# Compute and display missing values (%) for all numeric columns

In [137]:
# Select only numeric columns
numeric_cols = df.select_dtypes(include=[np.number])

# Compute missing value percentages
missing_percent = numeric_cols.isnull().mean() * 100

print("Missing values (%) for numeric columns:\n")
print(missing_percent)

Missing values (%) for numeric columns:

GDPperCapita    0.0
dtype: float64

In [ ]:
The observation did not record any missing value (%) for all the numeric columns

In [26]:
# Identify which variable has the most missing data

In [27]:
# Count missing values per column
missing_counts = df.isnull().sum()

# Identify the variable with the most missing data
most_missing = missing_counts.idxmax()
num_missing = missing_counts.max()

print("Missing values per column:\n", missing_counts)
print(f"\nVariable with the most missing data: {most_missing} ({num_missing} missing values)")

Missing values per column:
 Country               0
Population            0
PopulationMillions    0
dtype: int64

Variable with the most missing data: Country (0 missing values)

In [ ]:
The observation did not record any variable with the highest missing value

In [ ]:
# Count rows with no missing values vs at least one missing

In [139]:
# Count rows with no missing values
rows_no_missing = df.notnull().all(axis=1).sum()

# Count rows with at least one missing value
rows_with_missing = df.isnull().any(axis=1).sum()

print("Rows with no missing values:", rows_no_missing)
print("Rows with at least one missing value:", rows_with_missing)

Rows with no missing values: 12
Rows with at least one missing value: 0

In [ ]:
The observation did recorded 12 rows with no missing value and 0 with at least no missing value

# TASK 8 – Conditional Selections

In [ ]:
# Select all rows where LifeExpectancy > 80

In [16]:
# Sample DataFrame
data = {
    "Country": ["USA", "Canada", "Mexico", "Brazil", "France", "Germany", "Japan", "UK", "Italy", "Spain", "Australia", "Norway"],
    "LifeExpectancy": [78, 82, 74, 72, 81, 80, 84, 81, 79, 83, 82, 82]
}
df = pd.DataFrame(data)

# Select rows where LifeExpectancy > 80
filtered_df = df[df["LifeExpectancy"] > 80]

print("Rows where LifeExpectancy > 80:\n")
print(filtered_df)

Rows where LifeExpectancy > 80:

      Country  LifeExpectancy
1      Canada              82
4      France              81
6       Japan              84
7          UK              81
9       Spain              83
10  Australia              82
11     Norway              82

In [ ]:
The rows where the lifeexpectancy were > 80 were Canada, France, Japan, UK, Spain, Austrialia, and Norway.

In [ ]:
# Select rows where HealthExpenditure > 8% and GDPGrowth > 3%

In [148]:
# Sample DataFrame
data = {
    "Country": ["USA", "Canada", "Mexico", "Brazil", "France", "Germany"],
    "HealthExpenditure": [9.5, 10.2, 6.8, 7.5, 8.3, 11.0], 
    "GDPGrowth": [2.5, 3.2, 4.1, 2.9, 3.5, 1.8]             
}
df = pd.DataFrame(data)

# Select rows where HealthExpenditure > 8% AND GDPGrowth > 3%
filtered_df = df[(df["HealthExpenditure"] > 8) & (df["GDPGrowth"] > 3)]

print("Rows where HealthExpenditure > 8% and GDPGrowth > 3%:\n")
print(filtered_df)

Rows where HealthExpenditure > 8% and GDPGrowth > 3%:

  Country  HealthExpenditure  GDPGrowth
1  Canada               10.2        3.2
4  France                8.3        3.5

In [ ]:
The observation shows Canada and France are the rows with Health expenditure of 10.2 and 3.2, and GDP growth of 3.2 and 3.2 respectively

In [ ]:
# Compare the average literacy rate between these two subsets

In [28]:
# Sample DataFrame
data = {
    "Country": ["USA", "Canada", "Mexico", "Brazil", "France", "Germany", "Japan", "UK"],
    "LiteracyRate": [99, 99, 95, 92, 98, 99, 99, 99],
    "GDPperCapita": [65000, 45000, 15000, 12000, 42000, 48000, 40000, 41000]
}
df = pd.DataFrame(data)

In [29]:
# Define two subsets
subset_high_gdp = df[df["GDPperCapita"] > 30000]
subset_low_gdp = df[df["GDPperCapita"] <= 30000]

# Compute average literacy rate for each subset
avg_high_gdp = subset_high_gdp["LiteracyRate"].mean()
avg_low_gdp = subset_low_gdp["LiteracyRate"].mean()

print("Average Literacy Rate (High GDP subset):", avg_high_gdp)
print("Average Literacy Rate (Low GDP subset):", avg_low_gdp)

Average Literacy Rate (High GDP subset): 98.83333333333333
Average Literacy Rate (Low GDP subset): 93.5

In [ ]:
The observation recorded that Canada has an average literacy rate (High GDP subset) of 98.83 while France has (Low GDP subset) of 93.5

# TASK 9 – NumPy Array Operations

In [33]:
# Using NumPy: Compute min, max, mean, and range for LifeExpectancy

In [151]:
# Sample LifeExpectancy data
life_expectancy = np.array([78, 82, 74, 72, 81, 80, 84, 81, 79, 83, 82, 82])

In [152]:
# Compute statistics
min_val = np.min(life_expectancy)
max_val = np.max(life_expectancy)
mean_val = np.mean(life_expectancy)
range_val = max_val - min_val

print("Life Expectancy Statistics:")
print("Minimum:", min_val)
print("Maximum:", max_val)
print("Mean:", mean_val)
print("Range:", range_val)

Life Expectancy Statistics:
Minimum: 72
Maximum: 84
Mean: 79.83333333333333
Range: 12

In [ ]:
The mean value for the lifeexpectancy was 79.8

In [ ]:
# using Numpy: Compute 25th, 50th, and 75th percentiles.

In [153]:
# Compute percentiles
percentiles = np.percentile(life_expectancy, [25, 50, 75])

print("25th percentile:", percentiles[0])
print("50th percentile (median):", percentiles[1])
print("75th percentile:", percentiles[2])

25th percentile: 78.75
50th percentile (median): 81.0
75th percentile: 82.0

In [ ]:
The lower percentile for lifeexpectancy was 78.75, the median was 81.0 while the upper percentile was 82.0

In [ ]:
# using Numpy: Compute correlation between GDPperCapita and LifeExpectancy

In [154]:
# Sample data
GDPperCapita = np.array([65000, 45000, 15000, 12000, 42000, 48000, 40000, 41000, 35000, 33000, 52000, 60000])
LifeExpectancy = np.array([78, 82, 74, 72, 81, 80, 84, 81, 79, 83, 82, 82])

# Compute correlation matrix
correlation_matrix = np.corrcoef(GDPperCapita, LifeExpectancy)

# Extract correlation coefficient
correlation = correlation_matrix[0, 1]

print("Correlation between GDP per Capita and Life Expectancy:", correlation)

Correlation between GDP per Capita and Life Expectancy: 0.615681444081483

In [ ]:
From the observation, there is a weak positive linear correlation between GDP per Capita and Life Expectancy

# TASK 10 – Compare 1990 vs 2020

In [ ]:
# Identify countries with data for both 1990 and 2020

In [4]:
# Sample dataset
data = {
    "Country": ["USA", "Canada", "Mexico", "Brazil", "France", "Germany", "Japan", "UK", "USA", "Canada", "Mexico", "Brazil"],
    "Year": [1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990, 2020, 2020, 2020, 2020],
    "LifeExpectancy": [75, 77, 70, 65, 78, 76, 80, 76, 79, 82, 76, 74]
}
df = pd.DataFrame(data)

In [5]:
# Identify countries with data for both 1990 and 2020
countries_with_both = df.groupby("Country")["Year"].apply(lambda x: set([1990, 2020]).issubset(set(x)))

# Filter only those countries
result = countries_with_both[countries_with_both].index.tolist()

print("Countries with data for both 1990 and 2020:\n")
print(result)

Countries with data for both 1990 and 2020:

['Brazil', 'Canada', 'Mexico', 'USA']

In [ ]:
Countries with 1990 and 2020 data were 'Brazil', 'Canada', 'Mexico', 'USA'

In [ ]:
# Compute change in LifeExpectancy for those countries

In [14]:
# Filter only the countries of interest
countries = ["Brazil", "Canada", "Mexico", "USA"]
df_subset = df[df["Country"].isin(countries)]

# Pivot to have years as columns
pivot_df = df_subset.pivot(index="Country", columns="Year", values="LifeExpectancy")

In [15]:
# Compute change between 1990 and 2020
pivot_df["Change_LifeExpectancy"] = pivot_df[2020] - pivot_df[1990]

print("Change in Life Expectancy (1990 → 2020):\n")
print(pivot_df[["Change_LifeExpectancy"]])

Change in Life Expectancy (1990 → 2020):

Year     Change_LifeExpectancy
Country
Brazil                       9
Canada                       5
Mexico                       6
USA                          4

In [ ]:
The change(increase) in life expectancy of 'Brazil', 'Canada', 'Mexico', 'USA' between 1990 and 2020 were 9, 5, 6, and 4 respectively.

In [ ]:
# List the top 3 countries with the greatest improvement

In [156]:
# Sample dataset with Life Expectancy in two years
data = {
    "Country": ["USA", "Canada", "Mexico", "Brazil", "France", "Germany", "Japan", "UK"],
    "LifeExp_2000": [77, 79, 72, 68, 80, 78, 81, 78],
    "LifeExp_2020": [79, 82, 76, 74, 83, 81, 85, 81]
}
df = pd.DataFrame(data)

In [157]:
# Compute improvement
df["Improvement"] = df["LifeExp_2020"] - df["LifeExp_2000"]

# Sort by improvement and select top 3
top3 = df.sort_values(by="Improvement", ascending=False).head(3)

print("Top 3 countries with greatest improvement in Life Expectancy:\n")
print(top3[["Country", "Improvement"]])

Top 3 countries with greatest improvement in Life Expectancy:

  Country  Improvement
3  Brazil            6
2  Mexico            4
6   Japan            4

In [ ]:
The top 3 countries with the greatest improvement were Brazil, Mexico and Japan with improvement 6 and 4 respectively.